In [4]:
import pandas as pd

In [9]:
caminho = '../data/aluguel_residencial.csv'

In [10]:
dados = pd.read_csv(caminho, sep=';')
3dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento

In [11]:
# 1 e 2
# 3 e 4
# 5 e 6
# 7 ou mais
classes = [0, 2, 4, 6, 100]

In [12]:
quartos = pd.cut(dados.Quartos, classes)
quartos

0        (0, 2]
1        (0, 2]
2        (0, 2]
3        (0, 2]
4        (0, 2]
5        (4, 6]
6        (0, 2]
7        (0, 2]
8        (2, 4]
9        (0, 2]
10       (0, 2]
11       (2, 4]
12       (2, 4]
13       (2, 4]
14       (0, 2]
15       (0, 2]
16       (2, 4]
17       (2, 4]
18       (0, 2]
19       (2, 4]
20       (0, 2]
21       (2, 4]
22       (2, 4]
23       (0, 2]
24       (2, 4]
25       (2, 4]
26       (2, 4]
27       (2, 4]
28       (0, 2]
29       (2, 4]
          ...
21796    (0, 2]
21797    (2, 4]
21798    (2, 4]
21799    (2, 4]
21800    (0, 2]
21801    (2, 4]
21802    (0, 2]
21803    (0, 2]
21804    (4, 6]
21805    (2, 4]
21806    (0, 2]
21807    (0, 2]
21808    (0, 2]
21809    (0, 2]
21810    (0, 2]
21811    (0, 2]
21812    (2, 4]
21813    (2, 4]
21814    (2, 4]
21815    (0, 2]
21816    (2, 4]
21817    (2, 4]
21818    (0, 2]
21819    (0, 2]
21820    (4, 6]
21821    (0, 2]
21822       NaN
21823    (2, 4]
21824    (0, 2]
21825    (0, 2]
Name: Quartos, Length: 21826, dtype: category
Categories (4, interval[int64]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [13]:
pd.value_counts(quartos)

(0, 2]      11250
(2, 4]       9681
(4, 6]        686
(6, 100]       50
Name: Quartos, dtype: int64

In [14]:
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']

In [18]:
quartos = pd.cut(dados.Quartos, classes, labels=labels)
pd.value_counts(quartos)

1 e 2 quartos        11250
3 e 4 quartos         9681
5 e 6 quartos          686
7 quartos ou mais       50
Name: Quartos, dtype: int64

In [21]:
labels = ['0 a 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']
quartos = pd.cut(dados.Quartos, classes, labels=labels, include_lowest=True)
pd.value_counts(quartos)

0 a 2 quartos        11409
3 e 4 quartos         9681
5 e 6 quartos          686
7 quartos ou mais       50
Name: Quartos, dtype: int64