# Analisando a qualidade dos dados de Series de TV
link: https://www.kaggle.com/datasets/priyanshuganwani09/entertainment-movies-tv-shows-database
<br><br>
O conjunto de dados criado para prever a taxa de sucesso de programas de TV e filmes em streaming usando modelos de aprendizado de máquina. Esses conjuntos de dados consistem em informações dos usuários. Esses conjuntos de dados podem ser usados ​​para entender as preferências e o comportamento do público em relação a diferentes tipos de conteúdo.

In [1]:
import pandas as pd

In [2]:
ds = pd.read_csv('../data/tendencias.csv', sep=';')

In [3]:
ds.head()

,id,titulo,lingua_original,lancamento,popularidade,media_dos_votos,qtds_votos,tipo_de_midia,adulto
0,638974,Murder Mystery 2,Ingles,2023-03-26,235.901,6.800,187,Filme,False
1,677179,Creed III,Ingles,2023-03-01,1537.879,7.200,561,Filme,False
2,726759,Tetris,Ingles,2023-03-15,66.661,7.700,100,Filme,False
3,76600,Avatar: The Way of Water,Ingles,2022-12-14,10224.280,7.742,6335,Filme,False
4,849869,길복순,Koreano,2023-02-17,33.985,6.900,39,Filme,False

In [4]:
quant_lin_1, quant_colun_1 = ds.shape[0], ds.shape[1]
print('O conjunto contem {} linhas e {} colunas.'.format(quant_lin_1, quant_colun_1))
print('Quantidade de dados nulos:')
quant_nul_1 = ds.isna().sum().sum()
ds.isna().sum()

O conjunto contem 20 linhas e 9 colunas.
Quantidade de dados nulos:

id                 0
titulo             5
lingua_original    0
lancamento         5
popularidade       0
media_dos_votos    0
qtds_votos         0
tipo_de_midia      0
adulto             0
dtype: int64

In [5]:
teste = ds.isna().sum()

In [6]:
type(teste)

pandas.core.series.Series

In [7]:
ds.dropna(subset=["titulo"], inplace=True)

In [8]:
quant_lin_2, quant_colun_2 = ds.shape[0], ds.shape[1]
print('O conjunto contem {} linhas e {} colunas.'.format(quant_lin_2, quant_colun_2))
print('Quantidade de dados nulos:')
quant_nul_2 = ds.isna().sum().sum()
ds.isna().sum()

O conjunto contem 15 linhas e 9 colunas.
Quantidade de dados nulos:

id                 0
titulo             0
lingua_original    0
lancamento         0
popularidade       0
media_dos_votos    0
qtds_votos         0
tipo_de_midia      0
adulto             0
dtype: int64

In [9]:
print('Pré tratamento: {} linhas e {} Colunas e {} dados nulos.'.format(quant_lin_1, quant_colun_1, quant_nul_1))
print('Pós tratamento: {} linhas e {} Colunas e {} dados nulos.'.format(quant_lin_2, quant_colun_2, quant_nul_2))

Pré tratamento: 20 linhas e 9 Colunas e 10 dados nulos.
Pós tratamento: 15 linhas e 9 Colunas e 0 dados nulos.

In [10]:
path = '../data/tendencias_sem_null.csv'
ds.to_csv(path, sep=';', index=False)