# Analisando o conjunto dos dados de Series de TV
link: https://www.kaggle.com/datasets/priyanshuganwani09/entertainment-movies-tv-shows-database
<br><br>
O conjunto de dados criado para prever a taxa de sucesso de programas de TV e filmes em streaming usando modelos de aprendizado de máquina. Esses conjuntos de dados consistem em informações dos usuários. Esses conjuntos de dados podem ser usados ​​para entender as preferências e o comportamento do público em relação a diferentes tipos de conteúdo.

Perguntas a serem respondidas:<br>
1 - Quais os filmes mais populares dos anos.<br>
2 - Qual a Lingua mais presente no conjunto de dados.<br>
3 - A quantidade de filmes por ano.<br>
4 - A quantidade de filmes por lingua.<br>
5 - A quantidade de filmes por ano e lingua.<br>
6 - Comparar a popularidade das linguas dos filmes pelo tempo.<br>

In [115]:
import pandas as pd

## Importando dados

In [116]:
#Importando o arquivo
file = '../data/tendencias_sem_null.csv'
ds = pd.read_csv(file, sep=';')
ds.head()

,id,titulo,lingua_original,lancamento,popularidade,media_dos_votos,qtds_votos,tipo_de_midia,adulto
0,638974,Murder Mystery 2,Ingles,2023-03-26,235.901,6.800,187,Filme,False
1,677179,Creed III,Ingles,2023-03-01,1537.879,7.200,561,Filme,False
2,726759,Tetris,Ingles,2023-03-15,66.661,7.700,100,Filme,False
3,76600,Avatar: The Way of Water,Ingles,2022-12-14,10224.280,7.742,6335,Filme,False
4,849869,길복순,Koreano,2023-02-17,33.985,6.900,39,Filme,False

In [117]:
ds.shape

(15, 9)

## Alterando os tipos dos dados

In [118]:
ds.dtypes

id                   int64
titulo              object
lingua_original     object
lancamento          object
popularidade       float64
media_dos_votos    float64
qtds_votos           int64
tipo_de_midia       object
adulto                bool
dtype: object

In [119]:
ds.lancamento = pd.to_datetime(ds.lancamento)
ds.dtypes

id                          int64
titulo                     object
lingua_original            object
lancamento         datetime64[ns]
popularidade              float64
media_dos_votos           float64
qtds_votos                  int64
tipo_de_midia              object
adulto                       bool
dtype: object

## 1 - Quais os filmes mais populares dos anos?

In [120]:
import datetime

In [147]:
ds['ano'] = ds.lancamento.dt.year
ds.head()

,id,titulo,lingua_original,lancamento,popularidade,media_dos_votos,qtds_votos,tipo_de_midia,adulto,ano
0,638974,Murder Mystery 2,Ingles,2023-03-26,235.901,6.800,187,Filme,False,2023
1,677179,Creed III,Ingles,2023-03-01,1537.879,7.200,561,Filme,False,2023
2,726759,Tetris,Ingles,2023-03-15,66.661,7.700,100,Filme,False,2023
3,76600,Avatar: The Way of Water,Ingles,2022-12-14,10224.280,7.742,6335,Filme,False,2022
4,849869,길복순,Koreano,2023-02-17,33.985,6.900,39,Filme,False,2023

In [148]:
maior = []
for ano in ds_populares_ano.ano.unique():
    selecao = ds_populares_ano[ds_populares_ano.ano == ano]
    popularidade = selecao.popularidade.tolist()
    index = popularidade.index(max(popularidade))
    tupla = selecao.iloc[index]
    maior.append(tupla)
    maior
ds_populares_ano = pd.DataFrame(maior)
ds_populares_ano

       id                    titulo  popularidade   ano
5  603692      John Wick: Chapter 4      2569.508  2023
3   76600  Avatar: The Way of Water     10224.280  2022
9  514999            Murder Mystery       197.421  2019