# Tratamento do conjunto de dados de Series de TV
link: https://www.kaggle.com/datasets/priyanshuganwani09/entertainment-movies-tv-shows-database
<br><br>
O conjunto de dados criado para prever a taxa de sucesso de programas de TV e filmes em streaming usando modelos de aprendizado de máquina. Esses conjuntos de dados consistem em informações dos usuários. Esses conjuntos de dados podem ser usados ​​para entender as preferências e o comportamento do público em relação a diferentes tipos de conteúdo.

In [1]:
import pandas as pd

## Tradução

In [2]:
#Importando o arquivo
file = '../data/trending.csv'
ds = pd.read_csv(file)
ds.drop(ds.columns[0], axis='columns', inplace=True)
ds.head()

,id,original_title,original_language,release_date,popularity,vote_average,vote_count,media_type,adult
0,638974,Murder Mystery 2,English,2023-03-26,235.901,6.800,187,movie,False
1,677179,Creed III,English,2023-03-01,1537.879,7.200,561,movie,False
2,726759,Tetris,English,2023-03-15,66.661,7.700,100,movie,False
3,76600,Avatar: The Way of Water,English,2022-12-14,10224.280,7.742,6335,movie,False
4,849869,길복순,Korean,2023-02-17,33.985,6.900,39,movie,False

### Nome das colunas

In [3]:
ds.columns

Index(['id', 'original_title', 'original_language', 'release_date',
       'popularity', 'vote_average', 'vote_count', 'media_type', 'adult'],
      dtype='object')

In [4]:
rename = {
    'id': 'id',
    'original_title': 'titulo',
    'original_language': 'lingua_original',
    'release_date': 'lancamento',
    'popularity' : 'popularidade',
    'vote_average' : 'media_dos_votos',
    'vote_count' : 'qtds_votos',
    'media_type': 'tipo_de_midia',
    'adult': 'adulto'
}
ds.rename(columns=rename, inplace=True)
ds.head()

,id,titulo,lingua_original,lancamento,popularidade,media_dos_votos,qtds_votos,tipo_de_midia,adulto
0,638974,Murder Mystery 2,English,2023-03-26,235.901,6.800,187,movie,False
1,677179,Creed III,English,2023-03-01,1537.879,7.200,561,movie,False
2,726759,Tetris,English,2023-03-15,66.661,7.700,100,movie,False
3,76600,Avatar: The Way of Water,English,2022-12-14,10224.280,7.742,6335,movie,False
4,849869,길복순,Korean,2023-02-17,33.985,6.900,39,movie,False

### Coluna "lingua_original"

In [5]:
ds.lingua_original.unique()

array(['English', 'Korean', 'Spain', 'Chinese', 'Japanese'], dtype=object)

In [6]:
rename = {
    'English' : 'Ingles',
    'Korean' : 'Koreano',
    'Spain' : 'Espanhol' ,
    'Chinese' : 'Chines',
    'Japanese' : 'Japones'    
}
ds.lingua_original = ds.lingua_original.map(rename)
ds.head()

,id,titulo,lingua_original,lancamento,popularidade,media_dos_votos,qtds_votos,tipo_de_midia,adulto
0,638974,Murder Mystery 2,Ingles,2023-03-26,235.901,6.800,187,movie,False
1,677179,Creed III,Ingles,2023-03-01,1537.879,7.200,561,movie,False
2,726759,Tetris,Ingles,2023-03-15,66.661,7.700,100,movie,False
3,76600,Avatar: The Way of Water,Ingles,2022-12-14,10224.280,7.742,6335,movie,False
4,849869,길복순,Koreano,2023-02-17,33.985,6.900,39,movie,False

In [7]:
ds.lingua_original.unique()

array(['Ingles', 'Koreano', 'Espanhol', 'Chines', 'Japones'], dtype=object)

### Coluna "tipo_de_midia"

In [8]:
ds.tipo_de_midia.unique()

array(['movie', 'tv'], dtype=object)

In [9]:
rename = {
    'movie' : 'Filme',
    'tv' : 'Tv'    
}
ds.tipo_de_midia = ds.tipo_de_midia.map(rename)
ds.head()

,id,titulo,lingua_original,lancamento,popularidade,media_dos_votos,qtds_votos,tipo_de_midia,adulto
0,638974,Murder Mystery 2,Ingles,2023-03-26,235.901,6.800,187,Filme,False
1,677179,Creed III,Ingles,2023-03-01,1537.879,7.200,561,Filme,False
2,726759,Tetris,Ingles,2023-03-15,66.661,7.700,100,Filme,False
3,76600,Avatar: The Way of Water,Ingles,2022-12-14,10224.280,7.742,6335,Filme,False
4,849869,길복순,Koreano,2023-02-17,33.985,6.900,39,Filme,False

In [10]:
ds.tipo_de_midia.unique()

array(['Filme', 'Tv'], dtype=object)

In [11]:
ds.head()

,id,titulo,lingua_original,lancamento,popularidade,media_dos_votos,qtds_votos,tipo_de_midia,adulto
0,638974,Murder Mystery 2,Ingles,2023-03-26,235.901,6.800,187,Filme,False
1,677179,Creed III,Ingles,2023-03-01,1537.879,7.200,561,Filme,False
2,726759,Tetris,Ingles,2023-03-15,66.661,7.700,100,Filme,False
3,76600,Avatar: The Way of Water,Ingles,2022-12-14,10224.280,7.742,6335,Filme,False
4,849869,길복순,Koreano,2023-02-17,33.985,6.900,39,Filme,False

## Alterando os tipos de dados

In [ ]:
ds.dtypes

In [ ]:
ds.lancamento = pd.to_datetime(ds.lancamento)
ds.head()

In [ ]:
ds.dtypes

## Salvando o dataset tratado

In [13]:
path = '../data/tendencias.csv'
ds.to_csv(path)